Test.ipynb
analysis/1c_full_images/1c_full_images/20221124_PreliminaryIMCRun_COL384Ori_s0_a1_ac_full.csv
analysis/1c_full_images/1c_full_images/20221124_PreliminaryIMCRun_COL384Ori_s0_a1_ac_full.tiff
analysis/1c_full_images/1c_full_images/20221124_PreliminaryIMCRun_COL384Ori_s0_a2_ac_full.csv
analysis/1c_full_images/1c_full_images/20221124_PreliminaryIMCRun_COL384Ori_s0_a2_ac_full.tiff
analysis/1c_full_images/1c_full_images/20221124_PreliminaryIMCRun_COL384Ori_s0_a3_ac_full.csv
analysis/1c_full_images/1c_full_images/20221124_PreliminaryIMCRun_COL384Ori_s0_a3_ac_full.tiff
analysis/1c_full_images/1c_full_images/20221124_PreliminaryIMCRun_COL384Ori_s0_a4_ac_full.csv
analysis/1c_full_images/1c_full_images/20221124_PreliminaryIMCRun_COL384Ori_s0_a4_ac_full.tiff
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a2_ac_full.csv
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a2_ac_full.tiff
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a3_ac_full.csv
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a3_ac_full.tiff
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a4_ac_full.csv
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a4_ac_full.tiff
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a5_ac_full.csv
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a5_ac_full.tiff
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a6_ac_full.csv
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a6_ac_full.tiff
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a7_ac_full.csv
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a7_ac_full.tiff
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a8_ac_full.csv
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a8_ac_full.tiff
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a9_ac_full.csv
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a9_ac_full.tiff
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a10_ac_full.csv
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a10_ac_full.tiff
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a11_ac_full.csv
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a11_ac_full.tiff
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a12_ac_full.csv
analysis/1c_full_images/1c_full_images/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a12_ac_full.tiff
analysis/3a_segmentation_masks/3a_segmentation_masks/20221124_PreliminaryIMCRun_COL384Ori_s0_a1_ac_segment_CpSeg_mask.tif
analysis/3a_segmentation_masks/3a_segmentation_masks/20221124_PreliminaryIMCRun_COL384Ori_s0_a2_ac_segment_CpSeg_mask.tif
analysis/3a_segmentation_masks/3a_segmentation_masks/20221124_PreliminaryIMCRun_COL384Ori_s0_a3_ac_segment_CpSeg_mask.tif
analysis/3a_segmentation_masks/3a_segmentation_masks/20221124_PreliminaryIMCRun_COL384Ori_s0_a4_ac_segment_CpSeg_mask.tif
analysis/3a_segmentation_masks/3a_segmentation_masks/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a2_ac_segment_CpSeg_mask.tif
analysis/3a_segmentation_masks/3a_segmentation_masks/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a3_ac_segment_CpSeg_mask.tif
analysis/3a_segmentation_masks/3a_segmentation_masks/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a4_ac_segment_CpSeg_mask.tif
analysis/3a_segmentation_masks/3a_segmentation_masks/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a5_ac_segment_CpSeg_mask.tif
analysis/3a_segmentation_masks/3a_segmentation_masks/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a6_ac_segment_CpSeg_mask.tif
analysis/3a_segmentation_masks/3a_segmentation_masks/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a7_ac_segment_CpSeg_mask.tif
analysis/3a_segmentation_masks/3a_segmentation_masks/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a8_ac_segment_CpSeg_mask.tif
analysis/3a_segmentation_masks/3a_segmentation_masks/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a9_ac_segment_CpSeg_mask.tif
analysis/3a_segmentation_masks/3a_segmentation_masks/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a10_ac_segment_CpSeg_mask.tif
analysis/3a_segmentation_masks/3a_segmentation_masks/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a11_ac_segment_CpSeg_mask.tif
analysis/3a_segmentation_masks/3a_segmentation_masks/20230215_PreliminaryRNAscopeWithIMCRun_COL417TF2h_s0_a12_ac_segment_CpSeg_mask.tif
analysis/5_cellprofiler_output/5_cellprofiler_output/cell.csv
analysis/5_cellprofiler_output/5_cellprofiler_output/Experiment.csv
analysis/5_cellprofiler_output/5_cellprofiler_output/Image.csv
analysis/5_cellprofiler_output/5_cellprofiler_output/Object relationships.csv
raw/panel.csv
